/*Utils*/
:root {
  /*color*/
  --brand-color: #2f303a;
  --focus-hover-color: #2196f3;
  --article-color: #757575;
  --titlle-color: #212121;
  --active-color: #ffffff;
  --img-color: #eeeeee;
  --button-bg: #188ce8;
  --link-color: #ffffff99;
  --btn-background: #f5f4fa;
  --border-color: #ececec;
  --icon-social-color: #afb1b8;
  --background-icon-footer: #ffffff1a;
  --btn-border-color: #0000001a;
  --background-modal: #00000033;
  /*shadow*/
  --button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --photo-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*base styles*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

label {
  display: block;
}

body {
  font-family: 'roboto', 'Raleway';
  background-color: var(--active-color);
  color: var(--titlle-color);
}

.caption {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titlle-color);
  line-height: 1.1666666667;
  margin-bottom: 50px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--focus-hover-color);
  line-height: 1.1923076923;
  text-decoration: none;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  display: block;
  font-family: 'Raleway';
}
.header__logo:focus {
  background-color: var(--active-color);
  color: var(--focus-hover-color);
}

.header__logo--half {
  color: #000000;
}
.header__logo--half:focus {
  background-color: var(--active-color);
}

.nav__link--current {
  text-decoration: none;
  color: var(--focus-hover-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}
.nav__link--current:focus {
  color: var(--focus-hover-color);
  background-color: var(--active-color);
}
.nav__link--current::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: var(--focus-hover-color);
  position: absolute;
  left: 0px;
  border-radius: 2px;
  bottom: -1.5%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1024px;
  background-color: var(--background-modal);
  z-index: 1000;
  -webkit-transition: opacity 450ms linear, visibility 450ms linear, -webkit-transform 450ms linear;
  transition: opacity 450ms linear, visibility 450ms linear, -webkit-transform 450ms linear;
  transition: opacity 450ms linear, visibility 450ms linear, transform 450ms linear;
  transition: opacity 450ms linear, visibility 450ms linear, transform 450ms linear,
    -webkit-transform 450ms linear;
  visibility: visible;
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: fixed;
  height: 581px;
  width: 528px;
  background-color: var(--active-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--active-color);
  width: 30px;
  height: 30px;
  padding: 6px 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover {
  fill: var(--focus-hover-color);
}

.modal-tittle {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  display: block;
  color: var(--titlle-color);
}

.register-form-field {
  margin-bottom: 10px;
}

.register-form-group {
  margin-top: 12px;
  margin-bottom: 20px;
}

.name-form {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--article-color);
  display: block;
  margin-bottom: 4px;
}

.form-label {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 42px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-label:hover,
.form-label:focus {
  border-color: var(--focus-hover-color);
}
.form-label:hover + .register-form-icon {
  fill: var(--focus-hover-color);
}
.form-label:focus + .register-form-icon {
  fill: var(--focus-hover-color);
}

.coment-area {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border-color: rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  outline: transparent;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  display: block;
}
.coment-area:hover,
.coment-area:focus {
  border-color: var(--focus-hover-color);
}

.register-form-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form-field {
  position: relative;
}

.contract {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--article-color);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.contract-link {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  color: var(--focus-hover-color);
}

.checkbox-label {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 7px;
}

.icon-check {
  fill: #212121;
  -webkit-transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-check:hover {
  fill: var(--focus-hover-color);
  cursor: pointer;
}
.icon-check:focus {
  fill: var(--focus-hover-color);
}

.input-check:checked + .icon-check .icon-checked {
  opacity: 1;
}

.input-check:checked + .icon-check .icon-unchecked {
  opacity: 0;
}

.icon-checked {
  opacity: 0;
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-unchecked {
  opacity: 1;
}

.send-botton {
  display: block;
  margin: 0 auto;
  background-color: var(--focus-hover-color);
  padding: 10px 52px;
  color: var(--active-color);
  border-color: var(--focus-hover-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-shadow: var(--button-shadow);
  box-shadow: var(--button-shadow);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-botton:hover {
  background-color: var(--button-bg);
}
.send-botton:focus {
  background-color: var(--button-bg);
}

.caption {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titlle-color);
  line-height: 1.1666666667;
  margin-bottom: 50px;
}

.card {
  padding-bottom: 30px;
  padding-top: 30px;
  background-color: var(--active-color);
}
.card .card__sub {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.card .card__article {
  color: var(--article-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.socials__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  fill: var(--icon-social-color);
  background-color: var(--active-color);
  border-radius: 50px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover,
.socials__link:focus {
  background-color: var(--focus-hover-color);
  fill: var(--active-color);
}

.footer__logo {
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: var(--focus-hover-color);
  line-height: 1.1923076923;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
  font-family: 'Raleway';
}
.footer__logo:focus {
  background-color: var(--brand-color);
  color: var(--focus-hover-color);
}

.footer__logo--half {
  color: var(--active-color);
}

.address {
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__map {
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--active-color);
  line-height: 1.7142857143;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__map:hover {
  color: var(--focus-hover-color);
}
.address__map:focus {
  color: var(--focus-hover-color);
  background-color: var(--brand-color);
}

.address__link {
  font-size: 14px;
  line-height: 1.7142857143;
  color: var(--link-color);
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover {
  color: var(--focus-hover-color);
}
.address__link:focus {
  color: var(--focus-hover-color);
  background-color: var(--brand-color);
}

.aside {
  margin-right: 70px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-right: 93px;
}
.aside .aside__tittle {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--active-color);
  margin-bottom: 20px;
}
.aside .aside__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.aside .aside__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  fill: var(--icon-social-color);
  background-color: var(--background-icon-footer);
  border-radius: 50px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.aside .aside__link:hover,
.aside .aside__link:focus {
  fill: currentColor;
  background-color: var(--focus-hover-color);
}
.aside .aside__icon {
  fill: var(--active-color);
}

/*!portfolio!*/
.box-img {
  border-bottom: 1px solid var(--img-color);
  border-left: 1px solid var(--img-color);
  border-right: 1px solid var(--img-color);
  padding: 20px 24px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay .overlay__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--active-color);
  width: 322px;
}
.header {
  border-bottom: 1px solid var(--border-color);
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav {
  margin-right: auto;
}

.nav__list {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.nav__list .nav__item:hover {
  color: var(--focus-hover-color);
}
.nav__list .nav__item:focus {
  color: var(--focus-hover-color);
  background-color: var(--active-color);
}

.nav__item--main {
  position: relative;
}

.nav__link {
  text-decoration: none;
  color: #212121;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover {
  color: var(--focus-hover-color);
}
.nav__link:focus {
  color: var(--focus-hover-color);
  background-color: var(--active-color);
}

.info {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.info__link {
  text-decoration: none;
  color: var(--article-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info__link:hover,
.info__link:focus {
  color: var(--focus-hover-color);
  fill: var(--focus-hover-color);
  background-color: var(--active-color);
}

.info__icon {
  fill: currentColor;
}

.hero {
  background-color: var(--brand-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(47, 48, 58, 0.4)),
      to(rgba(47, 48, 58, 0.4))
    ),
    url(../images/main/section-under-header/Img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/main/section-under-header/Img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero__tittle {
  color: var(--active-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  width: 696px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.hero__button {
  background-color: var(--focus-hover-color);
  color: var(--active-color);
  font-size: 16px;
  font-weight: 700;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  line-height: 1.875;
  padding: 10px 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover {
  background-color: var(--button-bg);
  cursor: pointer;
}
.hero__button:focus {
  background-color: var(--button-bg);
}
.hero__button:active {
  color: var(--active-color);
  background-color: var(--button-bg);
}

.section {
  padding: 94px 0;
}

.main {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.main .main__box {
  height: 120px;
  background-color: var(--btn-background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
}
.main .main__sub {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--titlle-color);
  margin-bottom: 10px;
}
.main .main__article {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--article-color);
}

.section--img {
  padding-top: 0;
  padding-bottom: 94px;
}

.cont__tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titlle-color);
  margin-bottom: 50px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.list .list__item {
  position: relative;
}
.list .list__article {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--active-color);
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.team-section {
  background-color: var(--btn-background);
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.team .team__item {
  -webkit-box-shadow: var(--photo-shadow);
  box-shadow: var(--photo-shadow);
  border-radius: 0px 0px 4px 4px;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__link {
  fill: var(--icon-social-color);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid var(--icon-social-color);
  border-radius: 4px;
}
.clients__link:hover,
.clients__link:focus {
  fill: var(--focus-hover-color);
  color: var(--focus-hover-color);
  border-color: var(--focus-hover-color);
  background-color: var(--active-color);
}

.footer {
  background-color: var(--brand-color);
  padding-top: 60px;
  padding-bottom: 57px;
}

.container__footer--logo {
  margin-right: 70px;
}

.container--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.holder__tittle {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  color: var(--active-color);
  margin-bottom: 20px;
}

.holder__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.holder__label {
  margin-right: 12px;
}

.holder__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--brand-color);
  width: 358px;
  height: 50px;
  border-color: rgba(255, 255, 255, 0.3019607843);
  padding-left: 16px;
  padding-right: 16px;
  color: var(--active-color);
  outline: transparent;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.holder__input:hover,
.holder__input:focus {
  border-color: var(--focus-hover-color);
}

.holder__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: var(--active-color);
  background-color: var(--focus-hover-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: var(--focus-hover-color);
  gap: 10px;
  padding-left: 28px;
  padding-right: 28px;
  cursor: pointer;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.holder__btn:hover,
.holder__btn:focus {
  background-color: var(--button-bg);
}

.holder__article {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--active-color);
}

.holder__icon {
  fill: var(--active-color);
}

/*!portfolio!*/
.items {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--titlle-color);
}
.items .items__button {
  background-color: var(--btn-background);
  color: var(--titlle-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  font-family: 'Roboto';
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.items .items__button:hover,
.items .items__button:focus {
  background-color: var(--focus-hover-color);
  color: var(--active-color);
  cursor: pointer;
  border: none;
  -webkit-box-shadow: var(--button-shadow);
  box-shadow: var(--button-shadow);
}
.items .items__button:active {
  color: var(--active-color);
  background-color: var(--button-bg);
}
.items .items__button--fist {
  padding: 6px 25px;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 30px;
}
.benefits .benefits__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.benefits .benefits__link:hover,
.benefits .benefits__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.benefits__link:hover .overlay {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.benefits__link:focus .overlay {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.section-img {
  background-color: var(--img-color);
}

.section-subject {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--titlle-color);
  font-family: 'Roboto';
  margin-bottom: 4px;
}

.section-desc {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--article-color);
} /*# sourceMappingURL=main.css.map */
