.footer__logo {
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: var(--focus-hover-color);
    line-height: calc(31 / 26);
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
    font-family: 'Raleway';

    &:focus {
        background-color: var(--brand-color);
        color: var(--focus-hover-color);
    }
}

.footer__logo--half {
    color: var(--active-color);
}