.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1024px;
    background-color: var(--background-modal);
    z-index: 1000;
    transition: opacity 450ms linear, visibility 450ms linear, transform 450ms linear;
    visibility: visible;

    opacity: 1;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: fixed;
    height: 581px;
    width: 528px;
    background-color: var(--active-color);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
}

.modal__btn {
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--active-color);

    width: 30px;
    height: 30px;
    padding: 6px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        fill: var(--focus-hover-color);
    }
}

.modal-tittle {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    display: block;
    color: var(--titlle-color);
}