.nav__link--current {
    text-decoration: none;
    color: var(--focus-hover-color);
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;

    &:focus {
        color: var(--focus-hover-color);
        background-color: var(--active-color);
    }

    &::after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 4px;
        background-color: var(--focus-hover-color);
        position: absolute;
        left: 0px;
        border-radius: 2px;
        bottom: -1.5%;
    }


}