.socials {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.socials__link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--icon-social-color);
    background-color: var(--active-color);
    border-radius: 50px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--focus-hover-color);
        fill: var(--active-color);
    }
}