.footer {
    background-color: var(--brand-color);
    padding-top: 60px;
    padding-bottom: 57px;
}

.container__footer--logo {
    margin-right: 70px;
}

.container--footer {
    display: flex;
    align-items: baseline;
}